@model IEnumerable<SamplePhonebookApp.Models.DTOs.PhoneDto>
@{
    ViewBag.Title = "Все Phones";
}
<a asp-action="Create">Добавить Телефон</a>
<table class="table">
    <tr>
        <td>Код</td>
        <td>Имя</td>
        <td>Телефон</td>
        <td>Адрес</td>
        <td>Категория</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Telephone</td>
            <td>@item.Address</td>
            <td>@item.CategoryId</td>

            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>